.zk-user-nav {
    position: relative;
    display: flex;
    .showLeft {
        width: 130px;
    }
    .hidLeft {
        width: 60px;
    }
    .zk-user-nav-left {
        transition: 0.3s;
        z-index: 1;
        .zk-user-nav-cont {
            height: 100%;
            transition: 0.3s;
            position: fixed;
            background: #24303C;
        }
        .zk-user-nav-list {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            color: #CACACA;
            position: relative;
            .zk-user-nav-list_links {
                width: 100%;
                height: 100%;
                color: #CACACA;
                display: flex;
                align-items: center;
                div {
                    font-size: 14px;
                    height: 20px;
                    overflow: hidden;
                    white-space: nowrap;
                }
                .font-list {
                    margin-right: 10px;
                    font-size: 14px;
                    margin-left: 20px;
                }
                &.links_active,
                &:hover {
                    color: #fff;
                }
            }
            &.selection-list {
                color: #fff;
                background: #19222E;
                position: relative;
                &::before {
                    content: "";
                    width: 2px;
                    height: 100%;
                    background-color: #00AEFF;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                }
            }
            &:hover {
                color: #fff;
                background: #19222E;
                cursor: pointer;
            }
        }
    }
    .zk-user-nav-headIcon {
        height: 28px;
        background: #28394A;
        .el-icon-delete {
            line-height: 40px;
            text-align: center;
            color: #747D86;
            font-size: 16px;
            margin-left: 50px;
        }
        .fontClass {
            line-height: 28px;
            text-align: center;
            color: #747D86;
            font-size: 16px;
            position: relative;
            left: 50%;
            margin-left: -8px;
            &:hover {
                color: #fff;
            }
        }
    }
    .zk-user-nav-right {
        transition: 0.3s;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        .zk-user-nav-right-cont {
            position: fixed;
            transition: 0.3s;
            height: 100%;
            background: #fff;
            .zk-user-nav-right-head {
                width: 20px;
                height: 30px;
                position: absolute;
                z-index: 100;
                top: 5px;
                background: #F5F7F9;
                margin-left: 30px;
                border: 1px solid #ddd;
                &.hidRightIcon {
                    right: 5px;
                }
                .iconLinks {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-left: -6px;
                    margin-top: -6px;
                    font-size: 12px;
                    color: #b1bfcb;
                    align-items: center;
                    justify-content: center;
                }
            }
            .zk-user-nav-menu {
                margin-top: 35px;
                .el-submenu__title {
                    height: 50px;
                    line-height: 50px;
                    padding: 0 20px !important;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    i {
                        font-weight: bold;
                    }
                }
                .el-submenu__icon-arrow {
                    margin-top: -5px;
                }
                .el-menu-item:focus,
                .el-menu-item:hover {
                    max-width: 110px !important;
                    padding: 0 20px !important;
                }
                .el-submenu .el-menu-item {
                    padding: 0 20px !important;
                    max-width: 110px !important;
                    min-width: 110px !important;
                    font-size: 12px;
                    height: 45px !important;
                    line-height: 40px !important;
                }
                .el-submenu .is-active {
                    // max-width: 107px !important;
                    // color: #00AEFF !important;
                }
                .el-menu-item {
                    height: 43px !important;
                    line-height: 43px !important;
                }
            }
        }
    }
    .showRight {
        width: 113px;
        border: 1px solid #f0f0f0;
    }
    .hidRight {
        width: 0px;
    }
}