

  .theme-item_outset {
    cursor: pointer;
    height: 400px;
  }

  .theme-item_outset {
    background: #ffffff;
  }

  .theme-item_outset:hover {
    transition: 0.5s;
    transform: translate(0, -4px);
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.15);

    .outset-layer {
      display: block !important;
    }

    .outset-show {
      display: none;
    }
  }


  .theme-item-list {
    margin: 10px;
    width: 240px;
    display: inline-block;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    vertical-align: text-top;
    transition: all 0.5s;
    border: 1px solid #e5e5e5;

    .outset-img {
      width: 100%;
      height: 350px;
      position: relative;

      img {
        width: 100%;
        height: 100%;
      }

      .outset-layer {
        display: none;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 240px;
        height: 350px;
        background: rgba(0, 0, 0, 0.64);

        .them_text {
          font-size: 10px;
          color: #ffffff;
          position: absolute;
          bottom: 5px;
          left: 5px;
        }

        .outset-layer_but {
          width: 100%;
          text-align: center;
          position: relative;
          top: 50%;
          transform: translateY(-90%);

          span,
          a {
            display: inline-block;
            font-size: 13px;
            font-weight: 400;
            color: #ffffff;
             background: #9816f4;
            margin-left: 10px;
            padding: 8px 20px;
            border-radius: 20px;
          }

          .layer_but1 {
            background: #1593ff;
          }
           .layer_but2 {
            background: #f4516c;
             font-size: 12px;
               padding: 3px 10px;
          }
          .layer_but3{
            background: #00c5dc;
             font-size: 12px;
               padding: 3px 10px;
          }
        }

        .outset-layer_a {
          display: inline-block;
          background-color: red;
          color: #ffffff;
          font-size: 12px;
          position: absolute;
          top: 0px;
          right: 0px;
          padding: 6px 10px;
        }

        .outset-layer_adminLevel {
          right: 42px;
          background: #f4516c;
        }
      }
    }
  }

  .item_outset-text {
    padding: 10px;
    display: -webkit-box;
    align-items: center;

    .outset-text_left {
      flex: 1;
    }

    .text_p1 {
      height: 18px;
      margin-bottom: 6px;
      line-height: 18px;
      text-align: left;
      font-size: 14px;
      color: #333;
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

    }

    .text_p2 {
      font-size: 12px;
      font-weight: 400;
      color: #999999;
    }

    .text_them {
      font-size: 12px;
      color: #999999;
      margin-bottom: 8px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .outset-text_right {
      width: 70px;
      height: 35px;
      border-radius: 100%;

      img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
      }
    }
  }

  .outset-test {
    width: 100%;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
     background: #f4516c;
    position: absolute;
    right: 0;
    top: 0;
  }

