.zk-product-nav {
    width: 100%;
    margin-bottom: 20px;
    .product-nav_box {
        width: 1200px;
        margin: 0px auto;
        a {
            font-size: 18px;
            color: #202020;
            font-family: serif;
            font-weight: 600;
            padding: 0px 12px;
            img {
                margin-right: -5px;
            }
            &:hover {
                color: #c81332;
            }
        }
    }
}