.zk-product-selecthead {
    width: 100%;
    padding: 12px 0px;
    .product-selecthead_box {
        width: 1200px;
        margin: 0 auto;
        .selecthead_box-img {
            width: 135px;
            height: 18px;
            background: url('http://s-open.qiniuniu99.com/wwwroot/uploads/api/2019-05-28/5cecf7c0b41815014cb59cf0.png') no-repeat;
            background-size: 100% 100%;
            font-size: 18px;
            color: #ffffff;
            text-align: center;
            font-weight: 700;
            line-height: 18px;
            margin: 0 auto;
        }
    }
}