.admin-sms-recharge {
    padding: 20px;
    .recharge-box {
        ul {
            display: flex;
            justify-content: center;
            .recharge-box_li {
                width: 176px;
                height: 248px;
                border: 1px solid #eae0e0;
                display: inline-block;
                margin-right: 20px;
                cursor: pointer;
                .smsMode_shop {
                    margin-top: 20px;
                    .sms_combo {
                        width: 72px;
                        height: 26px;
                        line-height: 26px;
                        background: #f5f5f5;
                        font-size: 14px;
                        color: #6c6161;
                        text-align: center;
                        border-radius: 2px;
                        margin: 0 auto;
                    }
                    .sms_desc {
                        width: 125px;
                        height: 120px;
                        text-align: center;
                        line-height: 125px;
                        margin: 0 auto;
                        background: url('http://s-test.qiniuniu99.com//wwwroot/uploads/api/2019-05-10/5cd4d6d811b3bcaf0ccefda0.png') -228px -5px no-repeat;
                        .sms_desc-title {
                            font-size: 22px;
                            font-weight: 600;
                        }
                        .sms_desc-conter {
                            font-size: 12px;
                        }
                    }
                    .sms_price {
                        text-align: center;
                        margin-bottom: 5px;
                        span {
                            font-size: 12px;
                            color: #f42f3d;
                            font-weight: 600;
                        }
                        .span1-number {
                            font-size: 22px;
                        }
                        .sms_price-span2 {
                            font-weight: 400;
                            color: #af9d9d;
                            text-decoration: line-through;
                            margin-left: 5px;
                        }
                    }
                    .singlePrice {
                        width: 110px;
                        color: #4a3e3e;
                        border: 1px solid transparent;
                        height: 24px;
                        line-height: 24px;
                        text-align: center;
                        margin: 0 auto;
                    }
                }
            }
            .recharge_hover {
                border: 1px solid #f22938;
                background-color: #fff6f6;
                box-shadow: 0 1px 10px rgba(255, 186, 191, 1), 0px -1px 10px rgba(255, 186, 191, 1);
                .sms_combo {
                    background-color: #ffeded;
                }
                .singlePrice {
                    color: #f42f3d;
                    border: 1px solid #ffa0a7;
                }
            }
        }
    }
    .buy-immediately {
        width: 160px;
        height: 44px;
        background: url('http://s-test.qiniuniu99.com//wwwroot/uploads/api/2019-05-10/5cd4d6d811b3bcaf0ccefda0.png') -50px -221px no-repeat;
        color: #ffffff;
        font-size: 16px;
        text-align: center;
        line-height: 44px;
        cursor: pointer;
        margin: 40px auto;
        box-shadow: 0 3px 5px rgba(255, 128, 137, 1);
    }
}