$gl-themeColor: #716aca;
$gl-bodyBg: #efeff4;
$gl-brand: $gl-themeColor;
$gl-primary: #5867dd;
$gl-metal: #575962;
$gl-success: #34bfa3;
$gl-warning: #ffb822;
$gl-info: #36a3f7;
$gl-focus: #9816f4;
$gl-accent: #00c5dc;
$gl-light: #ffffff;
$gl-danger: #f4516c;
$gl-text0: #585962;
$gl-text1: #303133;
$gl-text2: #606266;
$gl-text3: #909399;
$gl-text4: #dcdfe6;
$gl-text5: #dcd3cf;
$gl-sizeColor: #b2b1c4;
$gl-border1: #dcdfe6;
$gl-border2: #e4e7ed;
$gl-border3: rgb(245, 245, 245);
$gl-border4: #f2f6fc;
