$gl-themeColor: #716aca;
$gl-bodyBg: #efeff4;
$gl-brand: $gl-themeColor;
$gl-primary: #5867dd;
$gl-metal: #575962;
$gl-success: #34bfa3;
$gl-warning: #ffb822;
$gl-info: #36a3f7;
$gl-focus: #9816f4;
$gl-accent: #00c5dc;
$gl-light: #ffffff;
$gl-danger: #f4516c;
$gl-text0: #585962;
$gl-text1: #303133;
$gl-text2: #606266;
$gl-text3: #909399;
$gl-text4: #dcdfe6;
$gl-text5: #dcd3cf;
$gl-sizeColor: #b2b1c4;
$gl-border1: #dcdfe6;
$gl-border2: #e4e7ed;
$gl-border3: rgb(245, 245, 245);
$gl-border4: #f2f6fc;


$gl-rem: 1rem / 12;


$gl-size-base: 14px;
$gl-size-lg: ($gl-size-base * 1.25);
$gl-size-sm: ($gl-size-base * 0.875);

$gl-h1-size: $gl-size-base * 2.5;
$gl-h2-size: $gl-size-base * 2;
$gl-h3-size: $gl-size-base * 1.75;
$gl-h4-size: $gl-size-base * 1.25;
$gl-h5-size: $gl-size-base * 1;
$gl-h6-size: $gl-size-base * 0.875;
$gl-h7-size: $gl-size-base * 0.750;

$gl-h1-weight: bold;
$gl-h2-weight: 700;
$gl-h3-weight: 500;
$gl-h4-weight: 300;
$gl-h5-weight: normal;


$gl-light-grey: #f2f2f2;
$gl-red: red;
$gl-light-info: #f3f8fe;
$gl-green: #1aad19;
$gl-orange: #f74c31;
$gl-dark-green: #2aad5c;
$gl-black: black;
