.edit-set {
  width: 90px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  cursor: pointer;
  background-color: #716aca;
  color: #ffffff;
  font-size: 13px;
  z-index: 99;
}
