.zk-rank-report {
    background-color: #f2f2f2;
    padding: 10px;
    display: flex;
    .rank-report_list {
        height: 500px;
        background-color: #ffffff;
        border-radius: 3px;
        .rank-report_head {
            height: 60px;
            border-bottom: 1px solid #f0f0f0;
            display: flex;
            align-items: center;
            padding: 0px 20px;
            .head-title {
                font-size: 14px;
                color: #303030;
                font-weight: 500;
                flex: 1;
                min-width: 0;
            }
            .head-buttom {
                display: inline-block;
                border-radius: 3px;
                background-color: #ECF8FF;
                font-size: 13px;
                font-weight: 500;
                color: #65BCFB;
                padding: 8px 12px;
                cursor: pointer;
                i {
                    font-weight: 600;
                    margin-left: 10px;
                }
            }
        }
        .rank-report_box {
            .rank-report_ul {
                padding: 10px 20px;
                .rank-report_li {
                    height: 65px;
                    display: flex;
                    align-items: center;
                    .image-is {
                        width: 40px;
                        height: 40px;
                        border-radius: 5px;
                        overflow: hidden;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .writing-a {
                        flex: 1;
                        min-width: 0;
                        padding: 15px;
                        .writing-a_name {
                            color: #333333;
                            line-height: 20px;
                            width: 100%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                        .writing-a_intro {
                            color: #666666;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                    .buttom-a {
                        background-color: #ECF9F8;
                        color: #88D2C5;
                        padding: 8px 12px;
                        border-radius: 3px;
                        cursor: pointer;
                    }
                }
                .rank-report_li+.rank-report_li {
                    border-top: 1px dashed #f0f0f0;
                }
            }
        }
    }
    .rank-report_list+.rank-report_list {
        margin-left: 10px;
    }
}