.zk-product-swiper {
    width: 100%;
    position: relative;
    .image-carousel {
        width: 100%;
        height: 430px;
        .image-carousel_a {
            display: inline-block;
            width: 100%;
            height: 100%;
            .image-carousel_box {
                width: 100%;
                height: 100%;
                margin: 0 auto;
                .x-swiper_img {
                    width: 100%;
                    height: 100%;
                    background-size: contain;
                }
            }
        }
    }
    .left-popup_box {
        width: 1200px;
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 999;
        .listbox_nav {
            width: 220px;
            height: 618px;
            background-color: #292929;
            position: absolute;
            top: 0px;
            left: 0px;
            .nav-img1 {
                position: absolute;
                top: 0px;
                left: 0px;
                background-size: contain;
            }
            .nav-img2 {
                position: absolute;
                top: 30px;
                right: 15px;
                background-size: contain;
            }
            .nav-img3 {
                position: absolute;
                right: 0px;
                bottom: -3px;
                background-size: contain;
            }
            .nav-ul {
                margin-top: 78px;
                .nav-ul_li {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    padding: 0px 15px;
                    .nav-title {
                        flex: 1;
                        font-size: 15px;
                        color: #ffffff;
                        font-family: 'Microsoft YaHei';
                        height: 52px;
                        line-height: 52px;
                        padding-left: 40px;
                    }
                    i {
                        font-size: 16px;
                        color: #ffffff;
                    }
                    &:hover {
                        background: -webkit-linear-gradient(left, #ed2828, #ee5026);
                    }
                }
            }
        }
        .nav-ul_li:hover .nav-ul_hover {
            display: block;
        }
        .nav-ul_hover {
            display: none;
            width: 250px;
            height: 618px;
            background-color: #ffffff;
            position: absolute;
            left: 220px;
            top: 0px;
            border: 1px solid #f0f0f0;
            padding: 0px 15px;
            .ul_hover-title {
                font-size: 15px;
                font-weight: 600;
                padding: 15px 0px;
            }
            .hover_ul {
                .hover_ul-li {
                    a {
                        display: inline-block;
                        width: 100%;
                        padding: 5px;
                        font-size: 14px;
                        color: #999999;
                        &:hover {
                            color: #ed2828;
                        }
                    }
                }
            }
        }
        .customer-service {
            margin-top: 20px;
            padding-left: 55px;
            .customer_title {
                color: #818181;
                font-size: 13px;
            }
            .customer_number {
                color: #cfcfcf;
                margin-top: 3px;
            }
        }
    }
    .middle_bottom {
        width: 1200px;
        height: 188px;
        margin: 0 auto;
        padding-left: 220px;
        display: flex;
        .middle_bottom-list {
            width: 308px;
            height: 168px;
            margin-left: 20px;
            margin-top: 20px;
            background-size: cover;
            cursor: pointer;
            .middle-title {
                text-align: center;
                font-size: 18px;
                font-family: 'Microsoft YaHei';
                font-weight: 500;
                color: #ffffff;
                margin-top: 20px;
            }
            .middle-intro {
                text-align: center;
                color: #ffffff;
                font-size: 12px;
                font-weight: 300;
                margin-top: 8px;
            }
        }
    }
}