.zk-prefer-list {
  width: 100%;

  .zk-prefer {
    width: 1200px;
    font-family: 'Microsoft YaHei';
    margin: 0 auto;
    padding-bottom: 20px;

    .zk-prefer-cont {
      display: flex;
      height: 320px;
      padding-top: 20px;

      .zk-prefer-left {
        width: 50%;
        height: 100%;
        background: #fff;
        padding-left: 70px;
        padding-top: 70px;

        .zk-prefer-name {
          font-size: 22px;
          color: #202020;
        }

        .zk-prefer-intro {
          font-size: 17px;
          color: #999;
          width: 50%;
          margin-top: 20px;
        }

        .zk-prefer-price {
          margin: 20px 0;
          color: #ed3927;
          font-size: 22px;

          span {
            font-size: 18px;
            color: #999;
            text-decoration: line-through;
          }
        }

        .zk-prefer-foot {
          display: flex;

          .zk-prefer-button {
            width: 128px;
            height: 44px;
            font-size: 15px;
            color: #fff;
            text-align: center;
            line-height: 44px;
            border-radius: 30px;
            background: #ed3927;
            cursor: pointer;
          }

          .zk-prefer-collect {
            margin-left: 20px;
            width: 44px;
            height: 44px;
            border: 1px solid #ed3927;
            border-radius: 50%;
            display: flex;
            flex-direction: column;

            img {
              display: block;
              margin: auto;
            }
          }

          .zk-prefer-image {
            height: 44px;
            display: flex;
            margin-left: 20px;

            img {
              display: block;
              margin: auto 5px;
            }
          }
        }
      }

      .zk-prefer-right {
        width: 50%;
        height: 100%;
        background: #fff;

        img {
          //   width: 100%;
          height: 100%;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}
