.admin-vdata {

  padding: 10px;
  display: flex;
  flex-wrap: wrap;


  .admin-vdata-list {
    margin: 7px;
    width: 280px;
    height: 200px;
    background: #ffffff;
    border-radius: 5px;
    display: inline-block;
    vertical-align: text-top;
    border: 1px solid #e8e8e8;
    margin: 10px;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;


    .admin-vdata-image {
      width: 100%;
      height: 160px;
      border-radius: 5px 5px 0 0;
    }

    .admin-vdata-cont {
      width: 100%;
      position: absolute;
      bottom: 0px;
      left: 0px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      height: 50px;
      background: #f7f9fa;
      color: #999999;
      text-align: center;
      line-height: 50px;
      font-size: 13px;

    }

    .admin-layout {
      display: none;
      transition: .5s;
      -webkit-transition: .5s;
      -moz-transition: .5s;
      -ms-transition: .5s;
      -o-transition: .5s;

      .admin-layout-delete {
        position: absolute;
        top: 0;
        right: 0;
        width: 70px;
        height: 25px;
        background: rgb(244, 81, 108);
        color: #fff;
        text-align: center;
        line-height: 25px;
        cursor: pointer;
        border-radius: 0 5px 0 0;
        -webkit-border-radius: 0 5px 0 0;
        -moz-border-radius: 0 5px 0 0;
        -ms-border-radius: 0 5px 0 0;
        -o-border-radius: 0 5px 0 0;
      }

      .admin-layout-cont {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 60%;
        height: 30px;
        display: flex;
        justify-content: space-between;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);

        .admin-layout-button {
          width: 80px;
          height: 30px;
          text-align: center;
          line-height: 28px;
          color: #fff;
          border-radius: 30px;
          -webkit-border-radius: 30px;
          -moz-border-radius: 30px;
          -ms-border-radius: 30px;
          -o-border-radius: 30px;
        }

        .left-background {
          background: #449284;
        }

        .right-background {
          background: #007CC3;
        }
      }
    }



    &:hover {
      transform: translate(0px, -2px);
      box-shadow: 0px 2px 8px 0px #e5e5e5;

      .admin-layout {
        display: block;
      }
    }
  }
}
