.zk-product-goods {
    width: 100%;
    padding: 30px 0px;
    .product-goods_box {
        width: 1200px;
        height: 370px;
        background: url(http://s-test.qiniuniu99.com//wwwroot/uploads/api/2019-05-20/5ce271a1313ebe847c8348a3.jpg) no-repeat;
        background-size: 100% 320px;
        margin: 0 auto;
        display: flex;
        font-family: 'Microsoft YaHei';
        .zk-product-theme {
            padding-top: 70px;
            width: 200px;
            box-sizing: border-box;
            padding-left: 20px;
            color: #FFF;
            div {
                font-size: 16px;
            }
            .zk-product-weight {
                font-weight: 700;
                font-size: 38px;
            }
            .zk-product-day {
                margin-top: 20px;
                font-size: 17px;
            }
        }
        .zk-product-all {
            display: flex;
            padding-top: 77px;
            li {
                width: 244px;
                height: 293px;
                display: flex;
                flex-direction: column;
                text-align: center;
            }
            .zk-product-list {
                background: #FFF;
                border-right: 1px solid #CFCFCF;
                position: relative;
                cursor: pointer;
                .zk-product-image {
                    img {
                        width: 100%;
                        height: 100%;
                    }
                    height: 75%;
                }
                .zk-product-name {
                    font-size: 16px;
                    color: #202020;
                    padding: 0px 15px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .zk-product-intro {
                    font-size: 16px;
                    margin-top: 5px;
                    color: #272727;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 24px;
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    span {
                        font-size: 14px;
                        color: #272727;
                        font-weight: 700;
                        font-family: Arial, Helvetica, sans-serif;
                    }
                }
            }
            .zk-product-list:hover {
                .zk-product-gradual {
                    display: block;
                }
            }
            .zk-product-gradual {
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                background: linear-gradient(rgba(141, 219, 95, 0.8), rgba(1, 186, 87, 0.8));
                color: #FFF;
                position: absolute;
                top: 0px;
                left: 0px;
                display: none;
                .zk-gradual-name,
                .zk-product-intro {
                    font-size: 12px;
                    font-weight: 200;
                    color: #ffffff;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    height: 38px;
                    padding: 0px 20px;
                    &.zk-gradual-name {
                        margin-top: 70px;
                    }
                }
                .zk-product-intro {
                    margin-top: 10px;
                }
                .zk-product-price {
                    font-size: 38px;
                    font-weight: 600;
                    margin-top: 15px;
                }
                .zk-product-button {
                    height: 38px;
                    width: 128px;
                    background: #EE4727;
                    text-align: center;
                    margin: 15px auto;
                    line-height: 38px;
                    border-radius: 30px;
                    font-size: 13px;
                    margin-top: 50px;
                    cursor: pointer;
                }
                .zk-product-more {
                    color: #202020;
                    font-size: 14px;
                }
            }
        }
    }
}