@import '~_style_all/theme.scss';
.zk-border-date {
    background-color: #ffffff;
    border-radius: 2px;
    -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);
    -moz-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);
    .widget-header {
        border-bottom: 1px solid #ebedf2;
        height: 60px;
        display: flex;
        align-items: center;
        .widget-header-title {
            display: table-cell;
            vertical-align: middle;
            font-size: 16px;
            font-weight: 500;
            padding-left: 25px;
            flex: 1;
            display: flex;
            .iconver {
                color: $gl-themeColor;
                font-size: 18px;
                margin-right: 10px;
                vertical-align: -1px;
            }
        }
        .header-right {
            padding-right: 25px;
            .el-tabs__item {
                padding: 0px;
            }
            .el-tabs__item+.el-tabs__item {
                margin-left: 15px;
            }
            .el-tabs__active-bar {
                display: none;
            }
            .el-tabs__nav-wrap::after {
                display: none;
            }
            .is-active {
                position: relative;
                transition: 0.5s all;
            }
        }
    }
    .x-table {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .widget-body {
        .body_title {
            color: #6f727d;
            margin: 5px 0 10px 0;
            font-size: 1rem;
            font-weight: 300;
            font-family: Poppins;
        }
    }
    .el-tabs--top {
        margin: 0;
        height: 60px;
    }
    .el-tabs__header {
        margin: 0;
    }
    .el-tabs__item {
        height: 60px;
        line-height: 60px;
        color: #fff;
    }
    .el-tabs__item.is-active {
        color: #e95a40;
    }
}

.el-date-editor {
    .el-range-separator {
        width: 34px;
    }
}