 .zk-data-member{
    font-size: 12px;
    .row.m-row--col-separator-xl>div {
      border-bottom: 0;
      border-right: 1px solid #ebedf2;
    }
    .m-widget1 {
      padding: 22px;
    }
    .m-widget1 .m-widget1__item:first-child {
      padding-top: 8px;
    }
    .m-widget1 .m-widget1__item {
      padding: 11px 0;
      border-bottom: 1px dashed #ebedf2;
    }
    .row.m-row--no-padding {
      margin-left: 0;
      margin-right: 0;
    }
    .align-items-center {
      align-items: center !important;
      display: flex;
    }
    .col {
      flex-basis: 0;
      flex-grow: 1;
      // max-width: 100%;
  }
  .m-widget1__title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
    color: #3f4047;
  }
   .m-widget1__desc {
    display: inline-block;
    margin-top: 0.15rem;
    font-size: 13px;
    font-weight: 300;
    color: #9699a2;
  }
  .row.m-row--no-padding>div {
    padding-left: 0;
    padding-right: 0;
  }
  .m--align-right{
    text-align: right;
  }
  .m-widget1 .m-widget1__item .m-widget1__number {
    font-size: 18px;
    font-weight: 600;
  }
}
