.zk-product-headline {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 10px;
    .box-head {
        width: 1200px;
        margin: 0px auto;
        display: flex;
        align-items: flex-end;
        .box-head_title {
            font-size: 30px;
            font-family: 'Microsoft YaHei';
            color: #202020;
            font-weight: 600;
        }
        .box-head_intro {
            font-size: 16px;
            font-family: 'Microsoft YaHei';
            color: #202020;
            font-weight: 500;
            margin-left: 40px;
        }
    }
}