.zk-product-especiallyhead {
    width: 100%;
    .especiallyhead_box {
        width: 1200px;
        margin: 0 auto;
        padding: 10px 0px;
        .especiallyhead_box-title {
            text-align: center;
            font-size: 26px;
            color: #ffffff;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            letter-spacing: 5px;
            span {
                i {
                    font-size: 34px;
                }
            }
        }
        .especiallyhead_box-intro {
            font-size: 12px;
            font-weight: 300;
            color: #ffffff;
            letter-spacing: 10px;
            text-align: center;
            padding: 5px 0px;
        }
    }
}