.zk-product-flashsale {
    width: 100%;
    .product-recommend_box {
        width: 1200px;
        margin: 0 auto;
        padding-bottom: 30px;
        .flashsale-exhibition {
            display: flex;
            .flashsale-left {
                width: 220px;
                height: 388px;
                background-size: cover;
                text-align: center;
                .flashsale-left_title {
                    height: 70px;
                    line-height: 70px;
                    font-size: 22px;
                    color: #202020;
                    font-weight: 800;
                    position: relative;
                    &::after {
                        content: "";
                        width: 45px;
                        border-bottom: 2px solid #615547;
                        position: absolute;
                        bottom: 0px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
                .surplus-introe {
                    font-size: 20px;
                    color: #201f1d;
                    padding: 8px 0px;
                }
                .count-down {
                    font-size: 20px;
                    font-weight: 700;
                    margin-top: 10px;
                    span {
                        display: inline-block;
                        background-color: #615547;
                        color: #fffffd;
                        width: 40px;
                        height: 40px;
                        text-align: center;
                        line-height: 40px;
                        border-radius: 3px;
                        margin: 0px 3px;
                        font-size: 20px;
                        font-weight: 500;
                    }
                }
                .check-button {
                    display: inline-block;
                    font-size: 16px;
                    background-color: #c09972;
                    color: #fffffd;
                    width: 135px;
                    height: 36px;
                    line-height: 36px;
                    border-radius: 32px;
                    margin-top: 105px;
                    cursor: pointer;
                }
            }
            .flashsale-right {
                flex: 1;
                display: flex;
                flex-wrap: wrap;
                border-bottom: 1px solid #f4e3d1;
                box-sizing: border-box;
                .flashsale-right_list {
                    width: 490px;
                    height: 194px;
                    border-top: 1px solid #f4e3d1;
                    border-right: 1px solid #f4e3d1;
                    box-sizing: border-box;
                    padding: 25px 20px;
                    display: -webkit-box;
                    background-color: #ffffff;
                    cursor: pointer;
                    .commodity-box {
                        width: 160px;
                        height: 100%;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .commodity-conter {
                        flex: 1;
                        padding-left: 20px;
                        .commodity-top {
                            height: 110px;
                            .commodity-top_title {
                                color: #202020;
                                font-size: 17px;
                                font-weight: 500;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                            .commodity-top_intro {
                                font-size: 20px;
                                color: #ed2d28;
                                font-weight: 500;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                margin-top: 10px;
                            }
                        }
                        .commodity-buttom {
                            border: 1px solid #ee3e27;
                            color: #ee3e27;
                            width: 100px;
                            height: 32px;
                            text-align: center;
                            line-height: 31px;
                            border-radius: 32px;
                            font-size: 14px;
                            font-weight: 500;
                            cursor: pointer;
                        }
                        .buying-btn2 {
                            display: none;
                            background-color: #ee3e27;
                            color: #ffffff;
                        }
                    }
                    &:hover {
                        .buying-spree {
                            .buying-btn1 {
                                display: none;
                            }
                            .buying-btn2 {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}