.diy-new-block {
  width: 100%;
  text-align: center;
  margin: 10px 0;
  color: #999;
}

.diy-widget-wrap {
  position: relative;
}

.diy-widget-wrap .checked {
  outline: 1px solid #ffcc66;
  background: #ffcc66;
}

.redact-buttom {
  font-size: 14px;
  background: #716aca;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  border-radius: 4px;
  padding: 8px 14px;
  cursor: pointer;
  display: none;
}

.diy-widget-wrap:hover .diy-dottedbox {
  display: block;
}

.diy-widget-wrap:hover .diy-widget-actions {
  display: block;
}

.diy-widget-wrap:hover .redact-buttom {
  display: block;
}

.diy-widget-small {
  line-height: 32px;
  background: #666;
  color: #fff;
  text-align: center;
}

.diy-masker {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(117, 177, 255, 0.3);
}

.diy-dottedbox {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1.5px dashed red;
}

.diy-widget-actions {
  display: none;
  background: #666;
  line-height: 16px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}

.diy-widget-actions-span {
  display: inline-block;
  font-size: 10px;
  color: #fff;
  padding: 2px 5px;
  cursor: pointer;
}

.diy-widget-wrap {
  .easy-cm-ul {
    z-index: 9999;
    background: #27343e;
    color: #bcc9d4;

    user-select: none;

    .li {
      padding: 0 6px;
      line-height: 28px;
      height: 28px;
      border-left: 2px solid transparent;
      cursor: pointer;
      overflow: hidden;
      padding-right: 3em;
      display: flex;

      .context-menu-wrap .datav-icon {
        margin-right: 3px;
      }
    }
  }
}
