  .el-checkbox {
    margin-right: 5px;
  }

  .order_list {
    width: 100%;
    margin: 20px auto;

    .order_list_top {
      width: 100%;
      height: 40px;
      background: #f4f3f8;
      display: flex;
      padding: 0 10px;

      .order_list_left {
        height: 100%;
        width: 32%;
        display: flex;
        align-items: center;

        span {
          font-size: 13px;
          color: #575962;
          margin: 0 5px;

          &:nth-child(2) {
            color: #5867dd;
          }
        }
      }

      .order_list_top_center {
        line-height: 40px;
        font-size: 13px;
        width: 23%;
        color: #6f727d;
      }

      .order_list_top_right {
        width: 45%;
        height: 100%;
        line-height: 40px;
        text-align: right;
        color: #575962;

        i {
          color: #5867dd;
        }
      }
    }

    .order_list_cont {
      width: 100%;
      height: 110px;
      display: flex;

      .order_list_cont_left {
        height: 100%;
        width: 32%;
        display: flex;
        padding: 15px 0;

        .img {
          width: 91px;
          height: 91px;
          margin: 0;
          border-radius: 3px;
          background: #5867dd;
        }

        .order_cont {
          height: 91px;
          margin-left: 15px;

          p {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;

            &:nth-child(1) {
              width: 100%;
              font-size: 14px;
              color: #333439;
            }

            &:nth-child(2) {
              color: #6f727d;
            }

            span {
              color: #34bfa3;
            }

            line-height: 20px;
          }

          .order_text {
            margin-top: 10px;
            display: inline-block;
            background: #ebedf2;
            color: #e83e8c;
            padding: 0 2px;
          }
        }
      }

      .order_list_cont_center {
        padding: 15px 0;
        margin-left: 6px;
        font-size: 16px;
        font-weight: 600;
        width: 35%;
        color: #6f727d;

        span {
          color: #575962;
          font-size: 16px;
          font-weight: 600;
          margin-right: 5px;
        }
      }

      .order_list_cont_right {
        padding: 15px 0;
        width: 33%;
        height: 100%;
        display: flex;

        div {
          width: 50%;
          height: 100%;
          border-left: 1px dashed #ebedf2;

          span {
            color: #2739c1;
          }

          p {
            height: 20px;
            line-height: 20px;
            text-align: center;
            color: #6f727d;
          }
        }

        .price {
          min-width: 110px;

          p {
            color: #6f727d;

            &:nth-child(1) {
              font-size: 18px;
              font-weight: 700;
              color: #f4516c;
            }

            &:nth-child(2) {
              margin-top: 2px;
              line-height: 20px;
            }
          }
        }

        .order {
          line-height: 20px;

          .button {
            background: #716aca;
            width: 55px;
            height: 20px;
            border-radius: 9px;
            color: #fff;
            margin: 0 auto;
          }

          p {
            color: #716aca;

            cursor: pointer;

            i {
              font-size: 12px;
            }
          }
        }
      }
    }
  }


  .order_list {
    width: 100%;
    margin: 20px auto;

    .order_list_top {
      width: 100%;
      height: 40px;
      background: #f4f3f8;
      display: flex;
      padding: 0 10px;

      .order_list_left {
        height: 100%;
        width: 32%;
        display: flex;
        align-items: center;

        span {
          font-size: 13px;
          color: #575962;
          margin: 0 5px;

          &:nth-child(2) {
            color: #5867dd;
          }
        }
      }

      .order_list_top_center {
        line-height: 40px;
        font-size: 13px;
        width: 23%;
        color: #6f727d;
      }

      .order_list_top_right {
        width: 45%;
        height: 100%;
        line-height: 40px;
        text-align: right;
        color: #575962;

        i {
          color: #5867dd;
        }
      }
    }

    .order_list_cont {
      width: 100%;
      height: 110px;
      display: flex;

      .order_list_cont_left {
        height: 100%;
        width: 32%;
        display: flex;
        padding: 15px 0;

        .img {
          width: 91px;
          height: 91px;
          margin: 0;
          border-radius: 3px;
          background: #5867dd;
        }

        .order_cont {
          height: 91px;
          margin-left: 15px;

          p {
            &:nth-child(1) {
              width: 100%;
              font-size: 14px;
              color: #333439;
            }

            &:nth-child(2) {
              color: #6f727d;
            }

            span {
              color: #34bfa3;
            }

            line-height: 20px;
          }

          .order_text {
            margin-top: 10px;
            display: inline-block;
            background: #ebedf2;
            color: #e83e8c;
            padding: 0 2px;
          }

        }
      }

      .order_list_cont_center {
        padding: 15px 0;
        margin-left: 6px;
        font-size: 13px;
        width: 35%;
        color: #6f727d;

        span {
          color: #575962;
          font-size: 16px;
          font-weight: 600;
          margin-right: 5px;
        }
      }
    }
  }
