.zk-top{
    width: 1000px;
    height: 46px;
    line-height: 46px;
    padding-left: 10px;
    border: 1px solid #DDDDDD;
    border-top: 4px solid #000000;
    background: #F2F2F2;
    color: #323232;
    font-size: 18px;
    font-weight: 600;
}