.admin-hudong-edit {

  .el-textarea__inner {
    height: 100px;
  }

  .el-input-number {
    width: 300px;
  }

  .hudong-edit-box {
    display: flex;

    .hudong-edit_left {
      flex: 1;
      border-right: 1px solid #f0f0f0;

      .hudong-edit_form {
        .el-form {
          padding: 20px;
        }

        .el-form-item__label {
          padding-right: 30px;
          color: #3f4047;
          font-size: 13px;
          font-weight: 400;
        }

        .lable-text {
          font-size: 13px;
          color: black;
        }

        .stored-edit_intro {
          font-size: 11px;
          color: #7b7e8a;
          line-height: 14px;
          margin-bottom: 5px;
        }
      }

      .line-buttom {
        display: inline-block;
        font-size: 12px;
        background-color: #34bfa3;
        color: #ffffff;
        padding: 8px 16px;
        border-radius: 3px;
        cursor: pointer;
      }

      .hudong-edit_table {
        padding: 20px;

        .has-gutter {
          .cell {
            text-align: center;
            font-size: 13px;
            color: #3f4047;
            font-weight: 400;
          }
        }

        .el-table__row {
          .cell {
            text-align: center;
          }

          .column_text {
            color: #ffb822;
          }

          .colomn_btn {
            color: #36a3f7;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .edit_table-img {
          width: 50px;
          height: 50px;
          border-radius: 50px;
        }
      }

      .game-rule {
        padding: 20px 40px;

        .activity-content {
          p {
            font-size: 12px;
            color: #303133;
            font-weight: 500;
            line-height: 22px;
            font-family: '黑体'；
          }
        }

        .infuse-box {
          display: flex;
          padding: 8px;

          .infuse-text {
            font-size: 12px;
            color: #303133;
            font-weight: 500;
            line-height: 22px;
            font-family: '黑体'；
          }

          .infuse-conter {
            padding: 3px;

            p {
              font-size: 12px;
              color: #303133;
              font-weight: 500;
              line-height: 22px;
              font-family: '黑体'；
            }
          }
        }
      }
    }

    .hudong-edit_right {
      display: none;
      width: 500px;
      position: relative;

      .edit_right-phone {
        display: inline-block;
        width: 300px;
        height: 550px;
        background: url('../../../../static/img/pohot_8.png') no-repeat;
        background-size: contain;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .phone-groove {
          width: 242px;
          height: 483px;
          margin-top: 30px;
          margin-left: 10px;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
    }
  }

  .stored_footer {
    border-top: 1px solid #f0f0ff;
    padding: 20px 270px;

    .stored_btn {
      display: inline-block;
      background-color: #34bfa3;
      color: #ffffff;
      padding: 10px 18px;
      border-radius: 3px;
      cursor: pointer;
    }
  }

  .edit_table_upload {
    width: 50px;
    height: 50px;
    border: 1px dotted #716aca;
    border-radius: 3px;
    position: relative;

    i {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .hudongImageUpload {
    width: 50px;
    height: 50px;
  }
}
