.zk-product-customer-service {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
    .customer-service_box {
        width: 1200px;
        height: 200px;
        margin: 0 auto;
        display: flex;
        .left_box {
            width: 340px;
            .left_box-title {
                width: 100%;
                font-size: 14px;
                color: #202020;
                text-align: center;
                font-weight: 500;
            }
            .left_box-bottom {
                display: flex;
                justify-content: center;
                margin-top: 25px;
                .bottom-list {
                    width: 110px;
                    height: 110px;
                    border: 1.5px solid #f0f0f0;
                    margin: 0px 15px;
                    text-align: center;
                    padding-top: 25px;
                    .bottom-list_icon1 {
                        width: 32px;
                        height: 32px;
                        margin: 6px auto;
                        background: url('http://s-open.qiniuniu99.com/wwwroot/uploads/api/2019-05-28/5ced3387b41815014cb5af53.png') no-repeat 0px -190px;
                    }
                    .bottom-list_icon2 {
                        width: 32px;
                        height: 32px;
                        margin: 6px auto;
                        background: url('http://s-open.qiniuniu99.com/wwwroot/uploads/api/2019-05-28/5ced3387b41815014cb5af53.png') no-repeat 0px 0px;
                    }
                    .bottom-list_title {
                        font-size: 13px;
                        color: #202020;
                        font-weight: 500;
                    }
                }
            }
        }
        .center_box {
            flex: 1;
            border-left: 1px solid #f0f0f0;
            border-right: 1px solid #f0f0f0;
            padding: 0px 30px;
            .center_box-title {
                width: 100%;
                font-size: 14px;
                color: #202020;
                text-align: center;
                font-weight: 500;
            }
            .center_box-intro {
                margin-top: 15px;
                font-size: 13px;
                color: #202020;
                font-weight: 500;
                line-height: 35px;
            }
            .center_box-attention {
                margin-top: 10px;
                display: flex;
                align-items: center;
                .attention-text {
                    font-size: 13px;
                    color: #202020;
                    font-weight: 500;
                    line-height: 35px;
                }
                .icon-box {
                    width: 32px;
                    height: 32px;
                    margin: 0px 5px;
                }
                .attention_icon1 {
                    background: url('http://s-open.qiniuniu99.com/wwwroot/uploads/api/2019-05-28/5ced3387b41815014cb5af53.png') no-repeat 0px -331px;
                }
                .attention_icon2 {
                    background: url('http://s-open.qiniuniu99.com/wwwroot/uploads/api/2019-05-28/5ced3387b41815014cb5af53.png') no-repeat 0px -229px;
                }
            }
        }
        .right_box {
            width: 340px;
            .right_box-title {
                width: 100%;
                font-size: 14px;
                color: #202020;
                text-align: center;
                font-weight: 500;
                margin-bottom: 15px;
            }
            .right_box-img {
                width: 120px;
                height: 120px;
                margin: 0 auto;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .right_box-intro {
                font-size: 12px;
                text-align: center;
                color: red;
            }
        }
    }
}