.layout-container {
  width: 100vw;
  background-color: #f2f2f2;
  height: 100vw;
  display: flex;

  .el-main {
    padding: 12px;

    .view-container {
      // background-color: #f2f2f2;
    }
  }
}
