.aside-left {
  display: flex;
  height: 100%;

  .stair-navigation {
    width: 90px;
    background-color: #282a3c;
    overflow: auto;
    position: relative;
    .stair-navigation-list {
      position: fixed;
      top: 50px;
      left: 0;
      width: 90px;
    }
    .stair-ul {
      .stair-li {
        height: 40px;
        line-height: 40px;
        padding-left: 14px;
        cursor: pointer;

        .stair-box {
          font-size: 14px;
          color: #c8c9cc;
          font-weight: 300;

          i {
            font-size: 15px;
            color: #c8c9cc;
            margin-right: 3px;
          }
        }
      }

      .stair_active {
        background-color: #ffffff;

        .stair-box {
          color: #323233;
          font-weight: 300;

          i {
            color: #323233;
          }
        }
      }
    }

    .stair-navigation::-webkit-scrollbar {
      display: none;
    }
  }

  .shared-second-sidebar {
    width: 110px;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border-right: 1px solid #f0f0f0;

    .shared-second-sidebar-nav {
      flex: 1;
      height: 100%;
      overflow: auto;
      .shared-second-sidebar-nav-list {
        position: fixed;
        top: 50px;
        left: 90px;
        width: 110px;
      }
      .sidebar-nav_ul {
        .sidebar-nav_li {
          .sidebar-nav_box {
            padding: 0px 12px;
            font-size: 14px;
            color: #323233;
            line-height: 35px;
            display: flex;
            align-items: center;
            cursor: pointer;

            i {
              font-size: 12px;
              font-weight: 600;
              transition: 0.2s all;
            }

            .sidebar_title {
              flex: 1;
              min-width: 0;
              font-size: 13px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }

          .nav_box {
            background: #ebedf0;
          }

          .sidebar-nav_box-span {
            display: inline-block;
            width: 15px;
            height: 35px;
            line-height: 35px;
          }

          .avtice_nav {
            i {
              transform: rotate(90deg);
            }
          }

          .sidebar-nav_drop-down {
            max-height: 0px;
            overflow: hidden;
            transition: 0.5s max-height ease;

            .drop-down_li {
              font-size: 13px;
              color: #323233;
              cursor: pointer;
              margin-left: 5px;
              padding-left: 22px;
              padding-right: 5px;
              margin-right: 5px;
              line-height: 35px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;

              &:hover {
                color: #38f;
              }
            }

            .three-menu-active {
              background-color: #ebedf0;
              color: #333;
              border-radius: 4px;

              &:hover {
                background-color: #52a3f5;
                color: #ffffff;
              }
            }
          }

          .drop-down_active {
            max-height: 200px;
          }
        }
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
