.zk-product-selection {
    width: 100%;
    .product-recommend_box {
        width: 1200px;
        margin: 0 auto;
        padding-bottom: 30px;
        .selection-exhibition {
            width: 1200px;
            height: 586px;
            display: flex;
            .selection_left {
                width: 400px;
                height: 100%;
                background-color: #ffffff;
                padding: 10px 30px;
                .selection_img {
                    height: 350px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .selection_conter {
                    margin-top: 40px;
                    .selection_conter-title {
                        font-size: 20px;
                        color: #202020;
                        font-weight: 500;
                    }
                    .selection_conter-intro {
                        font-size: 16px;
                        margin-top: 5px;
                        color: #ed2d28;
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 24px;
                        span {
                            font-size: 14px;
                            color: #ed2d28;
                            font-weight: 700;
                            font-family: Arial, Helvetica, sans-serif;
                        }
                    }
                }
            }
            .selection_right {
                flex: 1;
                display: flex;
                flex-wrap: wrap;
                .selection_right-list {
                    width: 256px;
                    height: 288px;
                    background: #ffffff;
                    margin-left: 10px;
                    margin-bottom: 10px;
                    padding: 15px;
                    cursor: pointer;
                    transition: 0.5s all;
                    position: relative;
                    &:nth-child(3n) {
                        margin-bottom: 0px;
                    }
                    .right-list_box {
                        width: 100%;
                        height: 170px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .right-list_conter {
                        margin-top: 20px;
                    }
                    .conter-buttom_box {
                        display: none;
                        width: 100%;
                        padding: 0px 20px;
                        background-color: #ffffff;
                        position: absolute;
                        bottom: 0px;
                        left: 0px;
                    }
                    .right-list_conter-title {
                        font-size: 20px;
                        color: #202020;
                        font-weight: 500;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    .right-list_conter-intro {
                        font-size: 16px;
                        margin-top: 5px;
                        color: #ed2d28;
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 24px;
                        span {
                            font-size: 14px;
                            color: #ed2d28;
                            font-weight: 700;
                            font-family: Arial, Helvetica, sans-serif;
                        }
                    }
                    .selection_buttom {
                        width: 110px;
                        height: 32px;
                        text-align: center;
                        line-height: 32px;
                        border-radius: 32px;
                        background-color: #ee3928;
                        color: #ffffff;
                        font-size: 14px;
                        margin: 20px auto;
                    }
                    &:hover {
                        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
                        .conter-buttom_box {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}