.admin-mallgoods-edit {
  .el-input-number {
    width: 300px;
  }

  .el-form {
    padding: 20px;
  }

  .el-form-item__label {
    padding-right: 30px;
    color: #3f4047;
    font-size: 13px;
    font-weight: 400;
  }

  .lable-text {
    font-size: 13px;
    color: black;
  }

  .stored-edit_intro {
    font-size: 11px;
    color: #7b7e8a;
    line-height: 14px;
    margin-bottom: 5px;
  }

  .stored_footer {
    border-top: 1px solid #f0f0ff;
    padding: 20px 270px;

    .stored_btn {
      display: inline-block;
      background-color: #34bfa3;
      color: #ffffff;
      padding: 10px 18px;
      border-radius: 3px;
      cursor: pointer;
    }
  }

  .product-info-box {
    display: flex;
    flex-wrap: wrap;

    .product-info {
      width: 300px;
      border: 2px solid #EBEEF5;
      border-radius: 10px;
      margin-right: 10px;
      margin-bottom: 10px;

      .info-item {
        display: flex;
        align-items: center;
        height: 50px;

        .item-left {
          width: 100px;
          color: #3f4047;
          text-align: right;
          padding-right: 15px;
        }

        .item-right {
          display: flex;
          align-items: center;

          img {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }


}
