.x-select-image {
  width: 100%;
  height: 100%;

  .x-select-image-choice {
    width: 100px;
    height: 100px;
    position: relative;

    .img {
      width: 100px;
      height: 100px;
      border-radius: 3px;
    }

    .Mongolia {
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 100px;

      i {
        position: absolute;
        color: #fff;
        font-size: 16px;
        display: none;
        top: 50%;
        transform: translateX(-50%);

        &.i-left {
          left: 30%;
        }

        &.i-right {
          left: 60%;
        }
      }

      &:hover {
        background: rgba(0, 0, 0, 0.5);
        border-radius: 3px;

        i {
          display: block;
        }
      }
    }
  }

  .select-upload {
    width: 100px;
    height: 100px;
    border-radius: 3px;
    border: 1px dotted #8c939d;
    position: relative;

    i {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .x-select-image-all {
    display: flex;

    .x-select-image-list {
      margin-right: 10px;
    }
  }
}
