.user-basic {
  padding: 0px 20px;
  .basic-list {
    margin-top: 10px;

    li {
      color: #8a8a8a;
      display: flex;
      min-height: 42px;
      margin-bottom: 20px;

      span {
        color: red;
      }

      .basic-text {
        width: 250px;
        height: 42px;
        line-height: 42px;
        text-align: right;
        padding-right: 30px;
      }

      .basic-input {
        flex: 1;
      }

      .basic-radio {
        min-height: 20px;
        margin-top: 10px;
      }

      .basic-input {
        width: 100%;
      }

      &.basic-buttom {
        border-top: 1px solid #e5e5e5;
        padding-top: 15px;
      }
    }
  }
}
