.login-reg {
  width: 100%;
  height: 100%;
  background: url('../../../../static/img/login_bg.png') no-repeat;
  background-size: 100% 100%;
  position: relative;

  .default-login {
    width: 380px;
    height: 440px;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    border-radius: 8px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -220px;
    margin-left: -255px;
    z-index: 999;
    padding: 30px;
    display: flex;
    flex-direction: column;

    .login-head {
      display: flex;
      align-items: center;

      .head-left {
        font-size: 20px;
        color: #e95a40;
        flex: 1;
      }

      .head-right {
        font-size: 14px;
        color: #b2adbc;
        cursor: pointer;
      }
    }

    .login-conter {
      flex: 1;
    }
  }
}

.login-pages {
  padding-top: 40px;
  height: 100%;
  position: relative;

  .conter-box {
    .login-pages_list {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #e5e5e5;
      margin-bottom: 35px;
      height: 37px;

      .lable_text {
        color: #595961;
        font-size: 14px;
        width: 60px;
        margin-right: 10px;
      }

      .reg_text {
        color: #595961;
        font-size: 14px;
        width: 70px;
        margin-right: 10px;
      }

      .lable_input {
        flex: 1;

        input {
          width: 100%;
          outline: none;
          border: none;
          height: 35px;
          line-height: 35px;
          padding-right: 10px;
        }

        input::-webkit-input-placeholder {
          color: #909399;
        }

        .block {
          .el-cascader {
            width: 100%;
          }
        }
      }

      .lable-password {
        cursor: pointer;

        i {
          font-size: 20px;
        }

        .hover_i {
          color: #e95a40;
        }
      }

      .reg-verification {
        font-size: 14px;
        color: #e95a40;
        cursor: pointer;
        margin-right: 20px;
      }

      .afresh {
        color: #909399;
      }
    }

    .forget-password {
      display: inline-block;
      width: 100%;
      text-align: right;
      font-size: 14px;
      color: #595961;
      cursor: pointer;

      &:hover {
        color: #e95a40;
      }
    }
  }

  .login-foot {
    width: 100%;
    position: absolute;
    bottom: 0px;

    .login-but {
      width: 100%;
      height: 50px;
      text-align: center;
      line-height: 50px;
      font-size: 16px;
      border-radius: 4px;
      background-color: #e95a40;
      color: #ffffff;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }

    .foot-text {
      width: 100%;
      text-align: center;
      font-size: 12px;
      color: #e95a40;
      margin-top: 10px;
    }

    .login-protocol {
      width: 100%;
      text-align: center;
      font-size: 12px;
      margin-top: 10px;
      color: #b2adbc;

      .login-protocol_a:hover {
        color: #e95a40;
      }
    }
  }
}
