 .zk-foot {
     font-size: 12px;
     .all_box {
         background: #202020;
         overflow: hidden;
         min-height: 180px;
         padding-top: 50px;
         padding-bottom: 24px;
         background-size: cover;
         background-repeat: no-repeat;
         margin-top: 50px;
         .container {
             width: 1200px;
             color: #fff;
             min-height: 180px;
             font-size: 12px;
             margin: 0 auto;
             font-family: "PingFang SC", "Times New Roman";
         }
         .foot_top {
             margin: 0 auto 49px;
             width: 140px;
             img {
                 width: 140px;
                 height: 100%;
             }
         }
         .top_contents {
             width: 100%;
             display: flex;
             margin-left: 105px;
             .contents_item {
                 width: 25%;
                 .item_title {
                     font-size: 14px;
                     overflow: hidden;
                 }
                 .title_border {
                     width: 30px;
                     height: 1px;
                     background: #fff;
                     margin-top: 4px;
                     margin-bottom: 30px;
                 }
                 .item_middle {
                     width: 100%;
                     ;
                     .item_title_name {
                         width: 100% !important;
                         margin-bottom: 12px;
                         font-size: 12px;
                         width: 80px;
                         height: 17px;
                         line-height: 17px;
                         font-weight: 300;
                     }
                     .item_title_name:hover {
                         color: #A02F32;
                         cursor: pointer;
                     }
                 }
             }
         }
         .foot_bottom {
             display: flex;
             min-height: 20px;
             margin-top: 50px;
             overflow: hidden;
             font-weight: 300;
             text-align: center;
             margin-left: 80px;
             li {
                 display: inline-block;
                 height: 20px;
                 line-height: 20px;
                 a {
                     color: #fff;
                     border-left: 1px solid #fff;
                     padding-right: 20px;
                     padding-left: 20px;
                 }
                 a:hover {
                     color: #A02F32;
                 }
             }
         }
         .firm_name {
             height: 60px;
             line-height: 60px;
             text-align: center;
             .line {
                 display: inline-block;
                 width: 400px;
                 border-top: 1px solid #ccc;
                 opacity: .4;
             }
             .txt {
                 color: #fff;
                 vertical-align: middle;
                 padding: 0 20px;
             }
         }
     }
     .bottom_item_a:nth-of-type(1) {
         border: none;
     }
     .brand_news {
         text-align: center;
     }
     .brand_admin_new {
         text-align: center;
         line-height: 30px;
     }
 }