.admin-stored-edit {
    .el-form {
        padding: 20px;
    }
    .el-form-item__label {
        padding-right: 30px;
        color: #3f4047;
        font-size: 13px;
        font-weight: 400;
    }
    .regulation_box {
        ul {
            li {
                width: 150px;
                display: inline-block;
                border: 1px solid #f0f0f0;
                margin-right: 15px;
                margin-bottom: 15px;
                padding: 30px 10px;
                background: rgba(0, 0, 0, 0.2);
                cursor: pointer;
                position: relative;
                p {
                    line-height: 25px;
                    text-align: center;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    color: #ffffff;
                }
                .p1 {
                    font-size: 16px;
                }
                .regulation_selected {
                    display: inline-block;
                    background: rgba(0, 0, 0, 0.5);
                    color: #ffffff;
                    font-size: 10px;
                    height: 18px;
                    line-height: 18px;
                    padding: 0px 5px;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    display: none;
                }
                .regulation_vistev {
                    display: block;
                }
                &:hover {
                    border: 1px solid red;
                }
            }
            .regulation_li {
                background-color: #5867dd;
            }
        }
    }
    .stored-edit_intro {
        font-size: 11px;
        color: #7b7e8a;
        line-height: 14px;
        margin-bottom: 5px;
    }
    .stored_footer {
        border-top: 1px solid #f0f0ff;
        padding: 20px 270px;
        .stored_btn {
            display: inline-block;
            background-color: #34bfa3;
            color: #ffffff;
            padding: 10px 18px;
            border-radius: 3px;
            cursor: pointer;
        }
    }
}