.zk-management {
  .file_iamge_Tips {
    margin-left: 20px;
    height: 20px;
    line-height: 20px;
  }

  .file_image_cont {
    padding: 20px;
    padding-top: 0px;
    // height: 50vh;
    height: 520px;
    overflow: hidden;
    overflow-y: auto;

    ul {
      display: flex;
      flex-wrap: wrap;
    }

    .file_iamge_list {
      width: 165px;
      height: 150px;
      border-radius: 5px;
      position: relative;
      margin: 5px;

      .file_iamge {
        width: 150px;
        height: 120px;
        overflow: hidden;
        margin: 0 auto;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 80px;
        }
      }

      .file_iamge_text {
        height: 20px;
        line-height: 20px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .file_iamge_button {
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 80px;
        height: 18px;
      }

      &:hover {
        background: #edf7fe;
        border: 1px solid #e5e5e5;

        .file_iamge_button {
          display: flex;
          background: #edf7fe;

          div {
            width: 50%;
            font-size: 11px;
            line-height: 18px;
            text-align: center;
            color: #fff;
            background: red;
            cursor: pointer;

            &:first-child {
              background: #34bfa3;
            }

          }
        }
      }

      &.activeBg {
        background: rgba(180, 180, 180, 0.4) !important;
        border: 1px solid rgba(180, 180, 180, 0.7);
      }
    }
  }

  .block .el-pagination {
    text-align: center;
  }

  .file_iamge_foot {
    height: 110px;
    border-top: 1px solid #e5e5e5;
    padding: 10px;

    .button {
      display: flex;
      justify-content: flex-end;

      div {
        width: 74px;
        height: 39px;
        text-align: center;
        line-height: 39px;
        border-radius: 5px;
        margin: 5px;
        border: 1px solid #e5e5e5;
        margin-bottom: 10px;
        font-size: 16px;
        cursor: pointer;

        &:last-child {
          background: #e95a40;
          color: #fff;
        }
      }
    }
  }

  .upload_search {
    display: flex;
    margin-left: 10px;

    .el-input__inner {
      height: 39px !important;
    }

    .search_button {
      margin-left: 10px;
      width: 100px;
      height: 39px;
      text-align: center;
      line-height: 39px;
      color: #fff;
      background: #e95a40;
      cursor: pointer;
      font-size: 14px;
      border-radius: 5px;
    }
  }
}
